@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

header{
    z-index: 1001 !important;
}
.starHeart{
    border-radius: 0 28px 0 28px;
}